<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="v-for">
        <p v-for="(car,index) in cars">
           {{index}}: {{car}}
        </p>

        <p v-for="(value,index,key) in user">
           {{key}} {{index}}: {{value}}
         </p>

         <p v-for="n in 3">
            {{n}}
            
         </p>
    </div>

    <div id="v-once">
        <h3>{{name}}</h3>
        <h3 v-once>{{name}}</h3>
        {{update()}}
    </div>



<script src="app.js"></script>

</body>
</html>